:root{
    --layoutPadding: 0 2%;
    --navHei: 80px;
    --bgMain: rgb(26 28 30);
    --bgNav: rgb(26 28 30);
    --bgNavMenu: rgb(37 40 44);
    --fontColMain: rgb(215,215,215);
    --fontColHighlight1: rgb(44, 179, 255);
    --fontColHighlight2: rgb(143 198 229);
    --baseFontSize: 1.6rem;
}

.highlight1{
    color: var(--fontColHighlight1);
}
.highlight2{
    color: var(--fontColHighlight2);
}

@font-face {
    font-family: AnonPro-Bold;
     src: url(../fonts/AnonymousPro/AnonymousPro-Bold.ttf);
}

@font-face {
    font-family: AnonPro-Reg;
    src: url(../fonts/AnonymousPro/AnonymousPro-Regular.ttf);
}
/*
@font-face {
   font-family: OxygenMono;
    src: url(../fonts/OxygenMono/OxygenMono-Regular.ttf);
}
*/
html, body{
    font-family: AnonPro-Reg;
    font-size: 67.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
    background-color: var(--bgMain);
}

ul {
    list-style: none;
}
ul > li:before{
    content: "\25AA"; 
    color: var(--fontColHighlight2);
    opacity: 0.5;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

#overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
}
#edge-fades{
    position: fixed;
    z-index: 1;
    top: var(--navHei);
    left: -50vw;
    width: 200vw;
    height: calc(100vh - var(--navHei));
    box-shadow: inset 0 0 30px 20px var(--bgNav);
    /* box-shadow: inset 0 0 50px 40px var(--bgNav); */
    pointer-events:none;
}

#nav-main-top-logo{
    font-family: AnonPro-Bold;
    font-size: 3rem;
    color: var(--fontColHighlight1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-main-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-width: 320px;
    width: 100vw;
    max-height: var(--navHei);
    padding: var(--layoutPadding);
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: var(--navHei) auto;

    overflow: hidden;
    transition: max-height 0.1s ease-in-out;

    font-size: var(--baseFontSize);
    color: var(--fontColMain);

    background-color: var(--bgNav);
}

#nav-main-top-menu{
    display: flex;
    max-height: 60vh;
    overflow-y: auto;
}

#nav-main-top-ham{
    cursor: pointer;
}
#nav-main-top > * {
    user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#nav-main-top a{
    text-decoration: none;
    font-size: 2rem;
}
#nav-main-top a:active, #nav-main-top a:visited{
    color: var(--fontColHighlight2);
}

.ham-open{
    background-image: url("../images/ham-menu-open.png");
}
.ham-close{
    background-image: url("../images/ham-menu-close.png");
}

@media screen and (max-width: 999px) {
    #nav-main-top-menu{
        grid-column: 1 / span 3;
        grid-row: 2;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        gap: 10px;
        padding: 20px 0 35px 0;
    }
    #nav-main-top-menu > *{
        padding: 12px;
        margin-left: 10px;
    }
    #nav-main-top-ham{
        grid-column: 3;
        grid-row: 1;
    }
}

@media screen and (min-width: 1000px) {
    #nav-main-top-menu{
        grid-column: span 2;
        flex-direction: row;
        justify-content: end;
        align-items: stretch;
        gap: 2%;
    }
    #nav-main-top-menu > *{
        display: flex;
        align-items: center;
        padding: 5px 12px;
        box-sizing: border-box;
    }
    #nav-main-top-menu > :last-child{
        margin-right:20px;
    }
    #nav-main-top-ham{
        display: none;
    }
}

main{
    padding: var(--layoutPadding);
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > section{
    scroll-margin-top: var(--navHei);
    min-height:400px;
    width: 100%;
    max-width: 1200px;
    font-size: var(--baseFontSize);
    color: var(--fontColMain);
}


#sec-about{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    box-sizing: border-box;
}

#sec-about > div:first-child{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

#sec-about > div:nth-child(2){
    font-size: clamp(3.6rem, 6vw, 6rem);
    color: var(--fontColHighlight1);
    margin-bottom: 2rem;
    font-family: AnonPro-Bold;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #sec-about > div:last-child > div{
        display: inline;
    }
    .grid-col2{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .grid-col2 > :first-child{
        text-align: center;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 601px) {
    #sec-about > div:last-child{
        max-width: 80%;
    }
    .grid-col2{
        grid-template-columns: 1fr 4fr;
    }
}
#sec-about > div:last-child{
    font-size: 1.8rem;
}

#sec-skills, #sec-work{
    padding-top: var(--navHei);
}

.grid-col2 {
    display: grid;
    gap: 10px;
}
.grid-col2 > :first-child{
    opacity: 0.3;
}

.grid-col4 {
    display: grid;
    column-gap: 5%;
    row-gap: 10px;
}
.flex-layout-list{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

@media screen and (max-width: 400px) {
    .grid-col4{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 401px) and (max-width:1000px) {
    .grid-col4{
        grid-template-columns: repeat(2, 1fr);
        justify-items:auto;
    }
}
@media screen and (min-width: 1001px) {
    .grid-col4{
        grid-template-columns: repeat(4, 1fr);
    }
}


.card-skills > header{
    font-size: 1.8rem;
}
.card-skills li {
    padding: 10px 0;
}

.card-work{
    min-height: 200px;
    gap: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .card-work{
        grid-template-columns: 100%;
    }
    .card-work > div:nth-child(2) {
        width: 1fr;
    }
}
@media screen and (min-width: 801px) {
    .card-work{
        grid-template-columns: 1fr 1fr;
    }
    .card-work > header{
        grid-column: span 2;
    }
}

.card-work > div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

/* IMG SECTION */
.card-work:hover > .img-section{
    opacity: 1;
}

.card-work > .img-section {
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.img-button{
    width: 30px;
    height: 30px;
    font-size: 2rem;
    background-color: var(--bgMain);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-work > header{
    font-size: 1.8rem;
    color: var(--fontColHighlight2);
    text-align: left;
}

.card-work .links{
    display: flex;
    gap: 2rem;
}

.code-boxes > div{
    display: inline-block;
    padding: 10px;
    border: solid 1px var(--fontColHighlight1);
    border-radius: 5px;
    font-size: 1.2rem;
}

.hover-expand{
    transform: scale(1);
    transition: transform 0.8s ease-in-out;
}
.hover-expand:hover{
    transform: scale(1.2);
}


footer{
    margin-top: 150px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--fontColMain);
    font-size: var(--baseFontSize);
    padding: 20px;
    padding-top: 50px;
    
    display: flex;
}

footer header{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--fontColHighlight1);
}

@media screen and (max-width: 600px) {
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer header{
        text-align: center;
    }
    footer section{
        width: 100%;
    }
    footer ul{
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    footer ul > li:before{
        content : "";
    }
    footer ul > li {
        margin: 5px;
    }
}
@media screen and (min-width: 601px) {
    footer{
        justify-content: space-evenly;
    }
}



@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
.blink-cursor::after{
    content:"|";
    animation: cursor-blink 1s steps(2) infinite;
}

.fade-in{
    opacity: 0;
}

.fade-set{
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

/* TODO

- Add fades
- fix link styles

*/


