:root{

}

@font-face {
  /* font-family: AnonPro-Bold;
    src: url(../fonts/AnonymousPro/AnonymousPro-Bold.ttf);*/

    font-family: AnonPro-Reg;
    src: url(../fonts/AnonymousPro/AnonymousPro-Regular.ttf);
    
   /* font-family: OxygenMono;
    src: url(../fonts/OxygenMono/OxygenMono-Regular.ttf);*/
}
html, body{
    font-family: AnonPro-Reg;
    font-size: 67.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    height: 1000px;
    scroll-behavior: smooth;
}


#nav-main-top{
    border: solid 1px green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 320px;
    width: 100vw;
    max-height: 80px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 80px auto;

    overflow: hidden;
    transition: max-height 0.1s ease-in-out;

    font-size: 1.6rem;

    background-color: grey;
}

#nav-main-top > div{
    border: solid 1px green;
    box-sizing: border-box;
}

#nav-main-top-menu{
    display: flex;
    max-height: 60vh;
    overflow-y: auto;
}
#nav-main-top-ham{
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    #nav-main-top-menu{
        grid-column: 1 / span 3;
        grid-row: 2;
        flex-direction: column;
        gap: 10px;
    }
    #nav-main-top-menu > *{
        padding: 12px;
        margin-left: 10px;
    }
    #nav-main-top-ham{
        grid-column: 3;
        grid-row: 1;
    }
}

@media screen and (min-width: 1000px) {
    #nav-main-top-menu{
        grid-column: span 2;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 2%;
    }
    #nav-main-top-menu > :last-child{
        margin-right:20px;
    }
    #nav-main-top-ham{
        display: none;
    }
}

main{
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 80px; /* NAV HEI */
}

main > section{
    scroll-margin-top: 80px; /* NAV HEI */
    border: solid 1px green;
    height:calc(100vh - 80px);
    width: 100%;
    max-width: 1200px;
}

#sec-about{
    background-color: red;
}
#sec-skills{
    background-color: blue;
}
#sec-work{
    background-color: green;
}



