:root{
    --navHei: 80px;
    --bgMain: rgb(37 40 44);
    --fontColMain: rgb(215,215,215);
    --fontColHighlight1: rgb(44, 179, 255);
    --fontColHighlight2: rgb(143 198 229);
    --baseFontSize: 1.6rem;
}

.highlight2{
    color: var(--fontColHighlight2);
}

@font-face {
    font-family: AnonPro-Bold;
     src: url(../fonts/AnonymousPro/AnonymousPro-Bold.ttf);
}

@font-face {
    font-family: AnonPro-Reg;
    src: url(../fonts/AnonymousPro/AnonymousPro-Regular.ttf);
}
/*
@font-face {
   font-family: OxygenMono;
    src: url(../fonts/OxygenMono/OxygenMono-Regular.ttf);
}
*/
html, body{
    font-family: AnonPro-Reg;
    font-size: 67.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;

    background-color: var(--bgMain);
}


#nav-main-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 320px;
    width: 100vw;
    max-height: var(--navHei);
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: var(--navHei) auto;

    overflow: hidden;
    transition: max-height 0.1s ease-in-out;

    font-size: var(--baseFontSize);

    background-color: var(--bgMain);
}

#nav-main-top-menu{
    display: flex;
    max-height: 60vh;
    overflow-y: auto;
}
#nav-main-top-ham{
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    #nav-main-top-menu{
        grid-column: 1 / span 3;
        grid-row: 2;
        flex-direction: column;
        gap: 10px;
    }
    #nav-main-top-menu > *{
        padding: 12px;
        margin-left: 10px;
    }
    #nav-main-top-ham{
        grid-column: 3;
        grid-row: 1;
    }
}

@media screen and (min-width: 1000px) {
    #nav-main-top-menu{
        grid-column: span 2;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 2%;
    }
    #nav-main-top-menu > :last-child{
        margin-right:20px;
    }
    #nav-main-top-ham{
        display: none;
    }
}

main{
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: var(--navHei);
}

main > section{
    scroll-margin-top: var(--navHei);
    height:calc(100vh - 80px);
    width: 100%;
    max-width: 1200px;
    font-size: var(--baseFontSize);
    color: var(--fontColMain);
}

#sec-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    box-sizing: border-box;
}

#sec-about > div:first-child{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

#sec-about > div:nth-child(2){
    font-size: clamp(3.6rem, 6vw, 6rem);
    color: var(--fontColHighlight1);
    margin-bottom: 2rem;
    font-family: AnonPro-Bold;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #sec-about > div:last-child > div{
        display: inline;
    }
}
@media screen and (min-width: 601px) {
    #sec-about > div:last-child{
        max-width: 80%;
    }
}
#sec-about > div:last-child{
    font-size: 1.8rem;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
.blink-cursor::after{
    content:"|";
    animation: cursor-blink 1s steps(2) infinite;
}


